.contact-banner {
  background-image: url("../img/contact/contact-title-image.jpg");
}

.contact-section {

}

.contact-1 {
  padding: 80px 0;
  #map {
    height: 100%;
    min-height: 450px;
    width: auto;
  }
  .col-12.text-left {
    // margin-bottom: 50px;
  }
  .col-12 {
    padding: 40px 15px;
  }
}

.contact-2 {
  padding-bottom: 80px;
  input,textarea {
    width: 100%;
    border: 2px solid black;
    padding: 15px 15px;
    font-weight: 600;
    outline: none;
    resize: none !important;
    &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 1; /* Firefox */
    }
    &:-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: black;
    }
    &::-ms-input-placeholder { /* Microsoft Edge */
        color: black;
    }
  }
  .btn {
    background-color: black;
    border-radius: 0;
    padding: 20px 80px;
    @media (max-width: 768px) {
      margin-bottom: 60px;
    }
  }
}
