.our-philosophy-banner {
  background-image: url("../img/our-philosophy/our-philosophy-title.jpg");
}

.our-philosophy-1 {
  width: 900px;
  padding: 50px 0;
  max-width: 90%;
  .row {
    text-align: center;
    margin: 40px 0;
  }
  p {
    font-size: 1.5rem;
    font-weight: bold;
  }
}

.our-philosophy-parallax {
  background: url("../img/our-philosophy/our-philosophy-parallax.jpg") no-repeat fixed center 15%;
  background-size: cover;
  background-size: 150%;
  p {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    padding: 180px 0;
    color: white;
    margin: 0;
  }
  &.parallax-2 {
    background-image: url("../img/our-philosophy/our-philosophy-parallax-2.jpg");
    background-position: center 0%;
  }
  @media (max-width: 768px) {
    background-attachment: scroll;
    p {
      padding: 15% 0;
    }
  }
}

.our-philosophy-2 {
  padding: 100px 60px;
  .row {
    text-align: center;
    img {
      margin-bottom: 30px;
    }
    p {
      font-size: 1.4rem;
      font-weight: bold;
      @media (min-width: 768px) {
        text-align: left;
      }
    }
  }
}

.our-philosophy-3 {
  text-align: center;
  padding: 100px 50px;
  @media (max-width: 768px) {
    padding: 60px 10px;
  }
  .row {
    margin: 30px 0;
  }
  p {
    font-size: 1.2rem;
    margin: none;
  }
  .slider-box {
    width: 800px;
    max-width: 100%;
    // border: 1px solid red;
    position:relative;
    overflow: hidden;
    margin:auto;
    // height: 200px;
    // @media (max-width: 768px) {
    //   height: 260px;
    // }
    // @media (max-width: 330px) {
    //   height: 330px;
    // }
  }
  .slider-texts {
    position: absolute;
    display: flex;
    // width: 1600px;
    // max-width: 200%;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  .slider-text {
    display: block;
    width: 800px;
    max-width: 100%;
    // padding: 30px 10px;
  }
  .slider-btn {
    cursor:pointer;
    outline: none;
    background-color: white;
    color: black;
    margin: 0 5px;
    border: 3px solid black;
    padding: 5px 10px;
    font-weight: bold;
    transition: 0.5s;
    &:hover {
      color:white;
      background-color: black;
    }
  }
}
